ul{
	list-style: none;
}
.top_li{
	display: inline;
}
#register_footer{
	position: absolute;
	bottom: 5px;
	left: 40%;
}
.navList{
	position: absolute;
	right: 20px;
	top: 10px;
}
.register_title{
	position: absolute;
	top: 10px;
	left: 700px;
}
.registerForm{
	width: 400px;
	height: 600px;
	position: absolute;
	top: 80px;
	left: 570px;
	background-color: rgba(255,248,220,0.5);
}
.zhuce{
	text-align: center;
}
.register_bar{
	position: relative;
	top: 10px;
}
.sub{
	font-family: kaiti;
	font-size: 30px;
}
.bottom_ul{
	position: absolute;
	left: -25px;
	top: 30px;
}
.question{
	position: relative;
	top: 20px;
}
.register_input{
	width: 200px;
	height: 30px;
}
